/* Generic styles */
body {
	background: linear-gradient(90deg, #0077b6 0%, #03045e 100%);
}

/* Main app grid structure */
.flex-container-main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	gap: 1.2em;
	margin: 15px;
	padding: 10px;
}

/* Styles */
.flex-container-main > h1 {
	color: #00b4d8;
	text-shadow: 2px 2px #182848;
}

.control-label {
	color: white;
	text-align: center;
}

#input {
	text-align: center;
	width: 100%;
	padding: 50px;
	align-items: center;
}

.output-days {
	text-align: center;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 5px;
	font-size: 32px;
	text-shadow: 2px 2px #03045e;
}